
*{
  box-sizing: border-box;
}

.bg{
  background-image: url("bg.jpg");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  background-attachment: fixed;

}

#booking-form {
  /* background-color: #E3EEFF; */
  background-image: url(bg1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  max-width: 500px;
  opacity: 0.911;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  justify-content: center;
   border-radius: 5px;
   font-family: :'Montserrat-Black';
   line-height: 1.5;
   font-weight: 100;
}


label {
  color: #285CBD;
  font-weight: bold;
  font-family: poppins, sans-serif;
  margin-bottom: 5px;
  margin-top: 3px;
}

input[type="submit"] {
  background-color: #285CBD;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: #1D438A;
  color: white;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.main{
  width: 200px;
}

h2{
   text-align: center;
   font-family: poppins, sans-serif;
   margin-top: 20px;
   color: #1D438A;
   font-size: 2.0rem;
   line-height: 1.5;
   font-weight: 500;
}

@media screen and (max-width: 600px) {
  #booking-form {
    max-width: 100%;
    padding: 10px;
  }
}
